min_peers = 50
max_peers = 80
max_uploads = 4
download_rate = 0
upload_rate = 50
directory = /home/amckean/downloads
session = /home/amckean/downloads/.session
port_range = 60125-64125
port_random = yes
check_hash = yes
encryption = allow_incoming, try_outgoing, enable_retry
dht = auto 
dht_port = 63425
